<template>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Opciones</th>
                <th>Nombre completo</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in people" v-bind:key="item.id">
                <td>
                    <a href="#" title='Modificar'><span class='glyphicon glyphicon-pencil btn btn-primary' style='padding:1px 3px'>Editar</span></a>
                    <a href="#" title='Eliminar' @click.prevent="deletePerson(item)"><span class='glyphicon glyphicon-remove btn btn-danger' style='padding:1px 3px'>Eliminar</span></a>
                </td>
                <td>{{ item.name }} {{ item.lastname }}</td>
                <td>{{ item.address }}</td>
            </tr>
        </tbody>
    </table>    
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return{
                people:[],
                person:{
                    id:"",
                    name:"",
                    lastname:"",
                    address:""   
                }
            }
            
        },
        created(){
            this.fetchPeople()
        },
        methods:{
            fetchPeople(){
                axios.get('peoplesql').then(res=>{
                    this.people=res.data;
                });
            },
            deletePerson(item){
                var url= 'peoplesql/' + item.id;
                // alert(url);
                axios.delete(url).then(res =>{
                    this.fetchPeople();
                });
            }
        }
    }
</script>
